html, body {
    height: 100%;
    margin: 0;
    font-family: 'Raleway','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
    height: 100%;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 640px) {
    #root {
        overflow:auto;
    }
}