#slider {
    position: absolute;
    background-image: linear-gradient(253deg,#3ba5b4 0,#38ba8a 100%);
    max-width: 36rem;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slider #slider-content {
    color: white;  
    text-align: center;
    position: relative;
}

#slider #slider-content h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
    padding-bottom: 1.5rem;
}

#slider #slider-content p {
    max-width: 16rem;
    margin: auto;
    padding-bottom: 1.5rem;
}

#slider #slider-button {
    background-color: transparent;
    border: 2px solid white;
    padding: 1rem 1rem;
    text-decoration: none;
    display: inline-block;
    font-family : inherit;
    font-size: 1rem;
    border-radius: 5rem;
    width: 40%;
    cursor:pointer;
}

#slider .event-disabled {
    pointer-events: none;
}

#slider #slider-button #slider-button-content {
    color: white;
    text-transform: uppercase;
    margin: 0;
    position: relative;
}

#slider #slider-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes ltr-slider {
    0% {max-width: 36rem;right: calc(100% - 36rem);}
    50%{max-width: 66%;}
    100% { max-width: 36rem; right: 0;}
  }

@keyframes rtl-slider {
    0% {max-width: 36rem;left: calc(100% - 36rem);}
    50%{max-width: 66%;}
    100% { max-width: 36rem; left: 0;}
  }

.ltr-slider {
    animation: ltr-slider 1s forwards ease-out;
}

.rtl-slider {
    animation: rtl-slider 1s forwards ease-out;
}

@keyframes rtl-content {
    0% {opacity: 1; left: 0;}
    30%{opacity: 0; left: 50%;}
    70%{opacity: 0; left: -50%;}
    100% { opacity: 1; left: 0;}
  }
  
  @keyframes ltr-content {
    0% {opacity: 1; right: 0;}
    30%{opacity: 0; right: 50%;}
    70%{opacity: 0; right: -50%;}
    100% { opacity: 1; right: 0;}
  }

#slider .rtl-content {
    animation: rtl-content 1s forwards ease-out;
}

#slider .ltr-content {
    animation: ltr-content 1s forwards ease-out;
}

@keyframes rtl-button-content {
    0% {opacity: 1; left: 0;}
    25% {opacity: 1;}
    45%{opacity: 0; left: 40%;}
    65% {opacity: 0; left: -40%}
    75%{opacity: 1}
    100% { opacity: 1; left: 0;}
  }
  
  @keyframes ltr-button-content {
    0% {opacity: 1; right: 0;}
    25% {opacity: 1;}
    45%{opacity: 0; right: 40%;}
    65% {opacity: 0; right: -40%}
    75%{opacity: 1}
    100% { opacity: 1; right: 0;}
  }

#slider .rtl-button-content {
    animation: rtl-button-content 1s forwards ease-out;
}

#slider .ltr-button-content {
    animation: ltr-button-content 1s forwards ease-out;
}

/************************************
***********MEDIA QUERIES*************
*************************************/

@media only screen and (max-width: 800px) {
    #slider {
        max-width: 17rem;
    }

    @keyframes ltr-slider {
        0% {max-width: 17rem;right: calc(100% - 17rem);}
        50%{max-width: 66%;}
        100% { max-width: 17rem; right: 0;}
      }
    
    @keyframes rtl-slider {
        0% {max-width: 17rem;left: calc(100% - 17rem);}
        50%{max-width: 66%;}
        100% { max-width: 17rem; left: 0;}
      }

}

@media only screen and (max-width: 640px) {
    #slider {
        position: static;
        max-width: 100% !important;
        min-width: 320px;
        min-height: 640px;
    }

    .ltr-slider, .rtl-slider, #slider .rtl-content, #slider .ltr-content,
    #slider .rtl-button-content,  #slider .ltr-button-content {
        animation: unset;
    }
}



