html, body {
    height: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
    height: 100%;
    overflow: hidden;
}

#root #slider {
    position: absolute;
    background-image: linear-gradient(253deg,#3ba5b4 0,#38ba8a 100%);
    max-width: 100%;
    width: 36rem;
    height: 100%;
    top: 0;
    right: 0;
    text-align: center;
}

#root #slider #slider-content {
    color: white;  
}

#root #slider #slider-content p {
    max-width: 13rem;
    margin: auto;
    margin-bottom: 1.5rem;
}

#root #slider #slider-content #slider-button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 1rem 5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family : inherit;
    font-size: 1rem;
    border-radius: 5rem;
    text-transform: uppercase;
}

#root #slider #slider-content #slider-button:hover {
    color: rgb(61, 183, 158);
    background-color: rgba(0, 0, 0,0.5);
}

@keyframes ltr {
    0% {width: 36rem;right: calc(100% - 36rem);}
    50%{width: 66%;}
    100% { width: 36rem; right: 0;}
  }

@keyframes rtl {
    0% {width: 36rem;left: calc(100% - 36rem);}
    50%{width: 66%;}
    100% { width: 36rem; left: 0;}
  }

#root .ltr {
    animation: ltr 1s forwards ease-out;
}

#root .rtl {
    animation: rtl 1s forwards ease-out;
}
